<div class="register-container w-full h-full items-center pt-20 flex flex-col">

    <h1 class="w-full text-center text-4xl font-bold dark:text-white">Create a free account</h1>

    <span (click)="gotoLogin()" class="mt-4 mb-8 dark:text-white cursor-pointer">Log in to your account</span>

    <div [formGroup]="registerForm" class="poll-card w-2/3 p-10 flex flex-col gap-y-6 top-highlighted-box">
        <div class="input-section flex flex-col gap-2">
            <label class="dark:text-white font-medium text-lg">Name</label>
            <input formControlName="name" type="text" class="input" placeholder="Name">
        </div>

        <div class="input-section flex flex-col gap-2">
            <label class="dark:text-white font-medium text-lg">Email</label>
            <input formControlName="email" type="text" class="input" placeholder="Email">
        </div>

        <div class="input-section flex flex-col gap-2">
            <label class="dark:text-white font-medium text-lg">Password</label>
            <input formControlName="password" type="password" class="input" placeholder="Password">
        </div>
    
        <div class="input-section flex flex-col gap-2">
            <label class="dark:text-white font-medium text-lg">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="input" placeholder="Confirm Password">
        </div>

        <div class="footer-section w-full flex flex-col gap-y-4">
            <button (click)="handleRegister()" 
            [disabled]="registerForm.invalid || registerForm.value.confirmPassword !== registerForm.value.password" class="btn w-full">Register</button>
            <div class="w-full flex justify-center items-center before:flex-1 
            before:h-[2px] before:bg-custom-boxBorder after:flex-1 after:h-[2px] after:bg-custom-boxBorder">
                <span class="px-3 dark:text-white">Or continue with</span>
            </div>

            <button (click)="handleSignWithGoogle()" class="btn w-full flex gap-x-2 justify-center text-black dark:text-white bg-transparent border-2 
            border-solid border-custom-progressBorder">
            <fa-icon [size]="'lg'" [icon]="faGoogle"></fa-icon>
            Sign up with Google</button>
        </div>
    </div>


</div>